@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    --main-background: #1d1f3c;
    --main-second-background: #151524;
    --main-third-background: #12121f;
    --main-dark-bg: #0a0a10;
}

.garage-icon {
    margin-top: .5vh;
    width: 3.4vh;
}

.garage-app {
    display: none;
    height: 120%;
    width: 100%;
    background: linear-gradient(135deg, rgba(23,24,41,1) 0%, rgba(14,17,28,1) 30%, rgba(23,24,41,1) 65%, rgba(14,17,28,1) 100%);
    overflow: hidden;
}

.garage-app-header {
    position: absolute;
    height: 9vh;
    width: 100%;
    text-align: center;
    line-height: 13.5vh;
    color: white;
    font-size: 1.5vh;
    font-family: 'Gilroy';
    text-transform: capitalize;
}

.garage-homescreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0vh;
}

.garage-vehicles {
    position: absolute;
    width: 77.0%;
    height: 46.5vh;
    top: 14.8vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.garage-vehicles::-webkit-scrollbar {
    display: none;
}

.garage-vehicle {
    padding: 4px;
    width: 100%;
    background: linear-gradient(-90deg, rgba(120,224,120,1) 0%, rgba(77,159,82,1) 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0rem 0rem 0.1rem 0.01rem #0000008e;
    border-radius: 0.4rem;
    margin-bottom: 3.5%;
}

.garage-vehicle-icon {
    position: relative;
    line-height: 6vh;
    left: 0vh;
    padding-top: 1.1vh;
    padding-bottom: 1.1vh;
    padding-left: 1.0vh;
    padding-right: 2.6vh;
    color: white;
    font-size: 4.0vh;
    transition: .05s linear;
}

.garage-vehicle-name {
    position: absolute;
    left: 6.8vh;
    color: white;
    line-height: 8.5vh;
    font-size: 1.2vh;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Gilroy';
    text-transform: capitalize;
}

.garage-plate-name {
    position: absolute;
    left: 6.8vh;
    color: white;
    line-height: 3vh;
    font-size: 1.2vh;
    font-family: 'Gilroy';
    text-transform: capitalize;
}

.garage-state-name {
    position: absolute;
    right: 1.0vh;
    color: white;
    line-height: 5vh;
    font-size: 1.2vh;
    font-family: 'Gilroy';
    text-transform: capitalize;
}

#garage-search {
    display: block;
    position: absolute;
    background: none;
    border: none;
    background: none;
    top: 9.4vh;
    width: 76%;
    margin: 0 auto;
    left: 0.5%;
    right: 0;
    opacity: 1;
    height: 4.5vh;
    outline: none;
    text-indent: 0.5vh;
    z-index: 100;
    color: whitesmoke;
    font-family: 'Gilroy';
    text-transform: capitalize;
    background: rgba(11, 14, 21, 1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
}

#garage-search-text {
    position: absolute;
    top: 6vh;
    left: 3.6vh;
    font-family: 'Gilroy';
    font-size: 2.2vh;
    color: #FFFFFF;
    z-index: 101;
    font-weight: bolder;
}

#garage-search-icon {
    position: absolute;
    top: 10vh;
    left: 20.5vh;
    font-size: 1.5vh;
    color: #353b42;
    background: rgba(28, 31, 38, 1);
    text-align: center;
    z-index: 101;
    width: 2vw;
    height: 3vh;
    padding: 1vh;
    line-height: 1vh;
    border-radius: 0.4rem;
}

/* Click Block CSS */

.garage-block {
    padding: 0 18px;
    /*line-height: 5vh;*/
    display: none;
    overflow: hidden;
    font-family: 'Gilroy';
    text-transform: capitalize;
    margin-bottom: 2.4vh;
}

.garage-name {
    padding: 1.2vh 18px;
    padding-left: 1vh;
    color: white;
    font-size: 1.3vh;
    font-family: 'Gilroy';
    text-transform: capitalize;
    background: rgba(11, 14, 21, 1);
    border: 1px solid rgb(150, 150, 150, 0.2);
    border-radius: .4rem;
    margin-bottom: 0.5vh;
}

.garage-name > i {
    padding-right: 0.8vh;
    font-size: 1.3vh;
    color: white;
}

.garage-plate {
    padding: 1.2vh 18px;
    padding-top: 1.1vh;
    padding-left: 1vh;
    color: white;
    font-size: 1.3vh;
    font-family: 'Gilroy';
    text-transform: capitalize;
    background: rgba(11, 14, 21, 1);
    border: 1px solid rgb(150, 150, 150, 0.2);
    border-radius: .4rem;
    margin-bottom: 0.5vh;
}

.garage-plate > i {
    padding-right: 0.8vh;
    font-size: 1.3vh;
    color: white;
}

.garage-fuel {
    padding: 1.2vh 18px;
    padding-top: 1.1vh;
    padding-left: 1vh;
    color: white;
    font-size: 1.3vh;
    font-family: 'Gilroy';
    text-transform: capitalize;
    background: rgba(11, 14, 21, 1);
    border: 1px solid rgb(150, 150, 150, 0.2);
    border-radius: .4rem;
    margin-bottom: 0.5vh;
}

.garage-fuel > i {
    padding-right: 0.8vh;
    font-size: 1.3vh;
    color: white;
}

.garage-engine {
    padding: 1.2vh 18px;
    padding-top: 1.1vh;
    padding-left: 1vh;
    color: white;
    font-size: 1.3vh;
    font-family: 'Gilroy';
    text-transform: capitalize;
    background: rgba(11, 14, 21, 1);
    border: 1px solid rgb(150, 150, 150, 0.2);
    border-radius: .4rem;
    margin-bottom: 0.5vh;
}

.garage-engine > i {
    padding-right: 0.8vh;
    font-size: 1.3vh;
    color: white;
}

.garage-body {
    padding: 1.2vh 18px;
    padding-top: 1.1vh;
    padding-left: 1vh;
    color: white;
    font-size: 1.3vh;
    font-family: 'Gilroy';
    text-transform: capitalize;
    background: rgba(11, 14, 21, 1);
    border: 1px solid rgb(150, 150, 150, 0.2);
    border-radius: .4rem;
    margin-bottom: 0.5vh;
}

.garage-body > i {
    padding-right: 0.8vh;
    font-size: 1.3vh;
    color: white;
}

.garage-payments {
    padding: 1.2vh 18px;
    padding-top: 0.5vh;
    padding-left: 1vh;
    color: white;
    font-size: 1.3vh;
    margin-bottom: 7%;
    font-family: 'Gilroy';
    text-transform: capitalize;
    background: rgba(11, 14, 21, 1);
    border: 1px solid rgb(150, 150, 150, 0.2);
    border-radius: .4rem;
    margin-bottom: 2vh;
}

.garage-payments > i {
    padding-right: 0.8vh;
    font-size: 1.3vh;
    color: white;
}

.garage-box {
    transition: 0.25s;
    color: rgb(255, 255, 255);
    font-family: 'Gilroy';
    text-transform: capitalize;
    font-size: 1.4vh;
    margin-bottom: 4%;
    border-radius: .4rem;
    font-weight: bold;
}

.box-track{
    background:#0e7b5f;
    padding: 4.0%;
}

.box-sellvehicle{
    background:#941818;
    padding: 4.0%;
}
