@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    --main-background: #1d1f3c;
    --main-second-background: #151524;
    --main-dark-bg: #0a0a10;
}

.whatsapp-app {
    display: none;
    height: 120%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(135deg, rgba(23,24,41,1) 0%, rgba(14,17,28,1) 30%, rgba(23,24,41,1) 65%, rgba(14,17,28,1) 100%);
}

.whatsapp-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 9vh;
}

.whatsapp-header-top {
    position: relative;
    height: 6.7vh;
    width: 100%;
    background-color: #21283200;
}

.whatsapp-header-footer {
    position: relative;
    height: 5.5vh;
    width: 100%;
    background-color: #21283200;
}

.whatsapp-header-footer > p {
    padding-top: 1.3vh;
    padding-left: 2vh;
    color: white;
   font-family: 'Gilroy';
    font-size: 1.5vh;
}

#whatsapp-newconvo-icon {
    position: absolute;
    top: 9.6vh;
    right: 3.5vh;
    transition: .05 linear;
    font-size: 1.5vh;
    pointer-events: all;
    text-align: center;
    color: white;
    background: #0f876a;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .2rem;
    height: 3.5vh;
    padding: 1vh;
}

#whatsapp-newconvo-icon:hover{
    color: #00f7c6;
}

#whatsapp-search-input-text {
    position: absolute;
    top: -6.9vh;
    left: 7.0vh;
   font-family: 'Gilroy';
    font-size: 2.2vh;
    color: #FFFFFF;
}

#whatsapp-search-input-icon {
    position: absolute;
    top: 0.8vh;
    left: 15.0vh;
    font-size: 1.4vh;
    color: rgb(187, 187, 187);
}

#whatsapp-contact-input-search {
    display: block;
    position: absolute;
    background: none;
    border: none;
    background: none;
    top: -0.5vh;
    width: 50%;
    margin: 0 auto;
    left: -30%;
    right: 0;
    opacity: 1;
    height: 4vh;
    background: rgba(11, 14, 21, 1);
    border: 1px solid rgba(0, 0, 0, 0.2);
   font-family: 'Gilroy';
    outline: none;
    text-indent: 1vh;
    z-index: 100;
    color: whitesmoke;
    border-radius: .2rem;
}

#whatsapp-search-text {
    position: absolute;
    top: 6.3vh;
    left: 3.0vh;
   font-family: 'Gilroy';
    font-size: 2.2vh;
    color: #FFFFFF;
    font-weight: bolder;
}

#whatsapp-search-icon {
    position: absolute;
    top: 3.2vh;
    left: 16.5vh;
    font-size: 1.5vh;
    color: #353b4200;
    text-align: center;
    width: 2vw;
    height: 3vh;
    padding: 1vh;
    line-height: 1vh;
    border-radius: .2rem;
}

#whatsapp-contact-search {
    display: block;
    position: absolute;
    background: none;
    border: none;
    background: none;
    top: 2.7vh;
    width: 63%;
    margin: 0 auto;
    left: -17%;
    right: 0;
    opacity: 1;
    height: 4vh;
    background: rgba(11, 14, 21, 1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    text-indent: 1vh;
    z-index: 100;
    font-family: 'Gilroy';
    color: whitesmoke;
    border-radius: .2rem;
}

#whatsapp-search-chats {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.6vh;
    color: white;
    right: 1vh;
    transition: .1s;
    font-size: 1.5vh;
}

#whatsapp-search-chats:hover {
    color: rgb(182, 182, 182);
}

#whatsapp-search-input {
    display: none;
    position: absolute;
    background: none;
    border: none;
    background: rgb(226, 226, 226);
    top: .7vh;
    width: 17vh;
    margin: 0 auto;
    height: 2.5vh;
    border-radius: 1vh;
    box-shadow: 0 0 .2vh 0 rgba(0, 0, 0, 0.281);
    font-family: 'Gilroy';
    outline: none;
    text-indent: 1vh;
    z-index: 100;
    right: -5vh;
    top: 0.95vh;
    width: 12vh;
}

.whatsapp-chats {
    position: absolute;
    width: 100%;
    height: 79.6%;
    top: 15.0vh;
    background: #2d213200;
    overflow-y: scroll;
    overflow-x: hidden !important;
}

.whatsapp-chats::-webkit-scrollbar {
    position: absolute;
    width: .6vh;
}

.whatsapp-chats::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.whatsapp-chats::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 1vh 0 0 1vh;
}

.whatsapp-chat-unreadmessages {
    display: none;
    position: absolute;
    right: 1vh;
    top: 3.1vh;
    width: 1.8vh;
    height: 1.8vh;
    background-color: #00b09c;
    border-radius: 50%;
    text-align: center;
    color: white;
   font-family: 'Gilroy';
    font-size: 1vh;
    line-height: 1.9vh;
}

.whatsapp-chat {
    position: relative;
    width: 80%;
    height: 6vh;
    margin-left: 10%;
    margin-bottom: 7px;
    transition: all 0.15s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.557) 0rem 0rem 0.1rem 0.01rem;
    background-color: #0b0e15;
    color: white;
}

.whatsapp-chat:hover {
    /* ADD THIS LATER */
}

.whatsapp-chat-picture {
    position: absolute;
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    top: 1vh;
    left: 1vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.whatsapp-openedchat-picture {
    position: absolute;
    height: 3.5vh;
    width: 3.5vh;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    top: 1.5vh;
    left: 3.7vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.whatsapp-chat-name {
    position: absolute;
    top: 1.5vh;
    left: 7vh;
    color: white;
   font-family: 'Gilroy';
    font-size: 1.6vh;
    font-weight: bolder;
}

.whatsapp-chat-lastmessage {
    position: absolute;
    bottom: -0.5vh;
    left: 7vh;
   font-family: 'Gilroy';
    font-size: 1.2vh;
    color: rgb(200, 200, 200);
    max-width: 13vh;
    font-weight: bold;
}

.whatsapp-chat-lastmessage > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.whatsapp-chat-lastmessagetime {
    position: absolute;
    top: 1.35vh;
    right: 1vh;
   font-family: 'Gilroy';
    font-size: 1vh;
    color: white;
}

.whatsapp-openedchat {
    display: none;
    position: absolute;
    top: 0;
    left: -30vh;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, rgba(23,24,41,1) 0%, rgba(14,17,28,1) 30%, rgba(23,24,41,1) 65%, rgba(14,17,28,1) 100%);
}

#whatsapp-openedchat-call {
    position: absolute;
    top: -0.5vh;
    right: 3.4vh;
    font-size: 1.7vh;
    color: white;
    transition: .1s;
    color: white;
    background: #0f876a;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0rem 0rem 0.1rem 0.01rem #0000008e;
    border-radius: .2rem;
    padding-top: 1vh;
    padding-left: 1vh;
    padding-right: 1.2vh;
    padding-bottom: 1vh;
}

#whatsapp-openedchat-call:hover {
    color: #00f7c6;
}

#whatsapp-openedchat-back {
    position: absolute;
    text-align: center;
    top: -0.5vh;
    right: 7.8vh;
    color: white;
    font-size: 1.7vh;
    transition: .1s;
    color: white;
    background: #911635;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0rem 0rem 0.1rem 0.01rem #0000008e;
    border-radius: .2rem;
    padding-top: 1vh;
    padding-left: 1vh;
    padding-right: 1.2vh;
    padding-bottom: 1vh;
    z-index: 100;
}

#whatsapp-openedchat-back:hover {
    color: #f7003e;
}

.whatsapp-openedchat-name {
    position: absolute;
    line-height: 5.5vh;
    top: -0.7vh;
    left: 8.5vh;
    color: white;
    font-size: 1.45vh;
   font-family: 'Gilroy';
}

.whatsapp-openedchat-number {
    position: absolute;
    line-height: 5.5vh;
    top: -4.9vh;
    left: 3.2vh;
    color: white;
   font-family: 'Gilroy';
    font-size: 2.45vh;
    font-weight: bolder;
}

.whatsapp-header-openedchat{
    position: absolute;
    top: 0;
    width: 100%;
    height: 9vh;
    background-color: rgba(7, 94, 84, 0);
}

.whatsapp-header-top-openedchat {
    position: relative;
    height: 10.5vh;
    width: 100%;
}

.whatsapp-openedchat-messages { /* the whole fucking message app */
    position: absolute;
    height: 63%;
    width: 90%;
    top: 17vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.whatsapp-header-footer-openedchat {
    position: relative;
    height: 4.5vh;
    width: 100%;
}

.whatsapp-header-footer-openedchat > p {
    padding-top: 1.3vh;
    padding-left: 2vh;
    color: white;
   font-family: 'Gilroy';
    font-size: 1.5vh;
}

.whatsapp-openedchat-input {
    position: absolute;
    bottom: 1%;
    right: 2.0vh;
    width: 100%;
    height: 10vh;
   font-family: 'Gilroy';
    text-transform: capitalize;
}

#whatsapp-openedchat-message {
    position: absolute;
    border: none;
    background: #2d383e;
    margin: 0px auto;
    height: 3.5vh;
    border-radius: 3vh;
   font-family: 'Gilroy';
    font-size: 1.4vh;
    outline: none;
    text-indent: 3vh;
    z-index: 100;
    top: 5.75vh;
    left: 0.8vh;
    width: 23vh;
    color: white;
    text-transform: capitalize;
}

#whatsapp-openedchat-message-test {
    position: absolute;
    border: none;
    background: #2d383e00;
    margin: 0px auto;
    height: 3.5vh;
    border-radius: 3vh;
   font-family: 'Gilroy';
    font-size: 1.4vh;
    outline: none;
    text-indent: 3vh;
    z-index: 100;
    top: 5.75vh;
    left: 0.8vh;
    width: 23vh;
    color: white;
}

#whatsapp-openedchat-send {
    position: relative;
    top: 35%;
    left: 88.5%;
    color: white;
    text-align: center;
    line-height: 3.0vh;
    background: #4fba7c;
    font-size: 1.5vh;
    width: 3.0vh;
    height: 3.0vh;
    text-indent: -0.0vh;
    transition: all 0.15s ease 0s;
}

#whatsapp-openedchat-send:hover {
    background: rgb(86, 206, 180);
}

.whatsapp-openedchat-messages::-webkit-scrollbar {
    position: absolute;
    width: .3vh;
}

.whatsapp-openedchat-messages::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.whatsapp-openedchat-messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 1vh 0 0 1vh;
}

.whatsapp-openedchat-message{
    position: relative;
    width: fit-content;
    max-width: 80%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    height: auto;
    margin-top: .7vh;
    padding: .7vh;
    text-indent: .3vh;
    transition: .1s linear;
}

.whatsapp-shared-location:hover {
    opacity: .8;
    transition: .1s linear;
}

.whatsapp-openedchat-message-me {
    background: rgba(11, 14, 21, 1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0rem 0rem 0.1rem 0.01rem #0000008e;
    color: white;
   font-family: 'Gilroy';
    float: right;
    right: 1.6vh;
    z-index: 1;
    user-select: all;
    text-transform: capitalize;
}

.whatsapp-openedchat-message-other {
    background: #35484f;
    color: white;
    border-radius: 15px;
    left: 1.5vh;
    z-index: 1;
    user-select: all;
}

.whatsapp-openedchat-message-time {
    font-size: 1.1vh;
    text-align: right;
    padding-left: 3.7vh;
    margin-top: -0.25vh;
   font-family: 'Gilroy';
    color: #ffffff;
}

.unique-chat {
    position: relative;
    width: 100%;
    margin-bottom: 1vh;
    top: 0;
}

.whatsapp-openedchat-date {
    position: sticky;
    top: 0.2vh;
    z-index: 2;
    margin: 0.3vh auto 0.8vh;
    text-align: center;
    background: rgba(11, 14, 21, 1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0rem 0rem 0.1rem 0.01rem #0000008e;
    width: fit-content;
    padding: 0.4vh;
    height: 2vh;
   font-family: 'Gilroy';
    font-size: 1vh;
    text-transform: uppercase;
    color: white;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

.clearfix {
    display: block;
}

#popup {
    display: none;
    top: 64%;
    left: 74%;
    position: absolute;
    background: transparent;
    width:100%;
    z-index: 1001;
}

.popupclass {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 197px;
    box-shadow: 1px 1px 15px rgba(5, 5, 5, 0);
    z-index: 1002;
}

.emojionearea.emojionearea-inline {
    width: 75%;
    top: 66%;
    left: 12%;
    background-color: transparent;
    border: none;
    border-radius: none !important;
    box-shadow: none !important;
}

.emojionearea, .emojionearea.form-control {
    background: none;
    background: #0b0e15  !important;
    border: 1px solid rgb(150, 150, 150, 0.2)  !important;
    border-bottom: 0.1vh solid rgba(245, 245, 245, 0.68) !important;
    box-shadow: none !important;
}

.emojionearea.focused {
    box-shadow: none !important;
}

.emojionearea.emojionearea-inline>.emojionearea-editor {
    height: 32px;
    min-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 12px;
    right: 24px;
    color: white;
    padding: 6px 0;
}

.emojionearea .emojionearea-button.active + .emojionearea-picker-position-top {
    margin-top: -269px;
    left: -26px;
}

.emojionearea.focused {
    border-color: #245247;
}